html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.menu-list-item__link {
  line-height: 70px;
  background-clip: content-box;
  background-position: 50% 50%;
}

.mobile__hamburger label {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
  transform: translate(-50%, -50%) scale(0.4);
  min-width: 45px;
  min-height: 45px;
}

.mobile__hamburger label * {
  pointer-events: none;
}

.mobile__hamburger label .bar:before,
.mobile__hamburger label .bar:after {
  content: "";
  width: 50%;
  height: 15%;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2);
  border-radius: 10px;
}
.mobile__hamburger label .bar:before {
  left: 5%;
}
.mobile__hamburger label .bar:after {
  right: 5%;
  left: auto;
  left: initial;
}
.mobile__hamburger label .top-bar:before,
.mobile__hamburger label .top-bar:after {
  top: 10%;
}
.mobile__hamburger label .middle-bar:before,
.mobile__hamburger label .middle-bar:after {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: 0.2s ease 0.1s;
}
.mobile__hamburger label .bottom-bar:before,
.mobile__hamburger label .bottom-bar:after {
  bottom: 10%;
}
.mobile__hamburger label.active .bar-wrapper {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mobile__hamburger label.active .bar-wrapper .middle-bar:before,
.mobile__hamburger label.active .bar-wrapper .middle-bar:after {
  width: 0%;
  border-radius: 10px !important;
}
.mobile__hamburger label.active .bar-wrapper .top-bar:before {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(45deg) translate(10%, -70%);
  transform: rotate(45deg) translate(10%, -70%);
  left: 0;
}
.mobile__hamburger label.active .bar-wrapper .top-bar:after {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg) translate(-10%, -70%);
  transform: rotate(-45deg) translate(-10%, -70%);
  right: 0;
}
.mobile__hamburger label.active .bar-wrapper .bottom-bar:before {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg) translate(10%, 70%);
  transform: rotate(-45deg) translate(10%, 70%);
  left: 0;
}
.mobile__hamburger label.active .bar-wrapper .bottom-bar:after {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(45deg) translate(-10%, 70%);
  transform: rotate(45deg) translate(-10%, 70%);
  right: 0;
}
.navbar.isExpanded .mobile__hamburger .bar-wrapper .bar:after,
.navbar.isExpanded .mobile__hamburger .bar-wrapper .bar:before {
  background: #0c164e;
}
.mobile__hamburger:focus {
  outline: thin dotted #d5daff;
}

.navbar.isExpanded {
  align-content: flex-start;
}

.navbar.isExpanded .menu > ul li {
  border-top-color: #f7f7f9;
}

.navbar.isExpanded .menu > ul li:last-of-type {
  border-bottom: 1px solid #f7f7f9;
}

.navbar.isExpanded .menu > ul li a {
  color: #0c164e;
}

.navbar.isExpanded .jl-text {
  fill: #0a1551;
}

.navbar.isExpanded .jl-pen-tip {
  fill: #0a1551;
}

.navbar.isExpanded .jl-pen-bottom {
  fill: #ffb629;
}

.navbar.isExpanded .jl-pen-top {
  fill: #09f;
}

.navbar.isExpanded .jl-pen-middle {
  fill: #ff6100;
}

.user-login__main{
  height: calc(100% - 72px);
}