html {
  scroll-behavior: smooth;
}

#root {
  min-height: calc(100vh - 74px);
}

.logo {
  width: 167px;
  max-height: 55px;
}

.menu-list-item {
  width: 70px;
  height: 70px;
}

.menu-list-item__link {
  line-height: 70px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  background-clip: content-box;
  background-position: 50% 50%;
}

.mobile__hamburger {
  height: 70px;
  width: 48px;
  border: none;
}

.mobile__hamburger label {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
  transform: translate(-50%, -50%) scale(0.4);
  min-width: 45px;
  min-height: 45px;
}

.mobile__hamburger label * {
  pointer-events: none;
}

.mobile__hamburger label .bar-wrapper,
.mobile__hamburger label .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.mobile__hamburger label .bar:before,
.mobile__hamburger label .bar:after {
  content: "";
  width: 50%;
  height: 15%;
  background: #ffffff;
  display: block;
  position: absolute;
  left: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.2);
  border-radius: 10px;
}
.mobile__hamburger label .bar:before {
  left: 5%;
}
.mobile__hamburger label .bar:after {
  right: 5%;
  left: auto;
  left: initial;
}
.mobile__hamburger label .top-bar:before,
.mobile__hamburger label .top-bar:after {
  top: 10%;
}
.mobile__hamburger label .middle-bar:before,
.mobile__hamburger label .middle-bar:after {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: 0.2s ease 0.1s;
}
.mobile__hamburger label .bottom-bar:before,
.mobile__hamburger label .bottom-bar:after {
  bottom: 10%;
}
.mobile__hamburger label.active .bar-wrapper {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mobile__hamburger label.active .bar-wrapper .middle-bar:before,
.mobile__hamburger label.active .bar-wrapper .middle-bar:after {
  width: 0%;
  border-radius: 10px !important;
}
.mobile__hamburger label.active .bar-wrapper .top-bar:before {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(45deg) translate(10%, -70%);
  transform: rotate(45deg) translate(10%, -70%);
  left: 0;
}
.mobile__hamburger label.active .bar-wrapper .top-bar:after {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg) translate(-10%, -70%);
  transform: rotate(-45deg) translate(-10%, -70%);
  right: 0;
}
.mobile__hamburger label.active .bar-wrapper .bottom-bar:before {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg) translate(10%, 70%);
  transform: rotate(-45deg) translate(10%, 70%);
  left: 0;
}
.mobile__hamburger label.active .bar-wrapper .bottom-bar:after {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(45deg) translate(-10%, 70%);
  transform: rotate(45deg) translate(-10%, 70%);
  right: 0;
}
.navbar.isExpanded .mobile__hamburger .bar-wrapper .bar:after,
.navbar.isExpanded .mobile__hamburger .bar-wrapper .bar:before {
  background: #0c164e;
}
.mobile__hamburger:focus {
  outline: thin dotted #d5daff;
}

.navbar.isExpanded {
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  position: absolute;
  background-color: #ffffff;
}

.navbar.isExpanded .navbar-logo {
  margin: 0;
}

.navbar.isExpanded .menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-bottom: 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar.isExpanded .menu > ul {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 84px;
}

.navbar.isExpanded .menu > ul li {
  width: 100%;
  position: relative;
  border-top: 1px solid #f7f7f9;
}

.navbar.isExpanded .menu > ul li:last-of-type {
  border-bottom: 1px solid #f7f7f9;
}

.navbar.isExpanded .menu > ul li a {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: #0c164e;
  text-transform: none;
  line-height: 48px;
}

.navbar.isExpanded .jl-text {
  fill: #0a1551;
}

.navbar.isExpanded .jl-pen-tip {
  fill: #0a1551;
}

.navbar.isExpanded .jl-pen-bottom {
  fill: #ffb629;
}

.navbar.isExpanded .jl-pen-top {
  fill: #09f;
}

.navbar.isExpanded .jl-pen-middle {
  fill: #ff6100;
}

.navbar.isExpanded .mobile__hamburger {
  top: 0;
}
@media screen and (max-width: 480px) {
  .navbar {
    min-height: 70px;
  }

  .navbar-logo {
    margin: 0 2px;
    padding: 0;
  }

  .navbar.isExpanded .navbar-logo {
    margin: 0;
    padding: 0;
  }

  .logo {
    width: 30px;
    height: 30px;
    margin: 20px 12px 20px 20px;
    display: block;
  }

  .logo::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo svg {
    max-width: inherit;
    width: 162px;
  }

  .menu-mobile {
    display: flex;
  }

  .menu {
    display: none;
  }

  .navbar.isExpanded .menu > ul {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: none !important;
    flex: none !important;
    margin: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    min-height: 70px;
  }

  .navbar.isExpanded .navbar-logo {
    padding: 0 20px;
  }

  .logo {
    display: block;
  }

  .menu-mobile {
    display: flex;
  }

  .menu {
    display: none;
  }

  .navbar.isExpanded .menu > ul {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: none !important;
    flex: none !important;
    margin: 0;
  }
}
