.integration-title {
  margin-top: 6.5vh;
}

.integration-title h1 {
  font-size: calc(16.57143px + 1.07143vw);
  line-height: 1.15;
}

.integration-title h2 {
  font-size: calc(12.28571px + 0.53571vw);
  line-height: 1.15;
  margin: 5px 0 0;
  letter-spacing: 0.001px;
}

@media screen and (min-width: 769px) {
  .integration-title {
    margin-top: 55px;
    position: relative;
  }

  .integration-title h1 {
    font-size: 28px;
  }

  .integration-title h2 {
    font-size: 16px;
    margin: 10px 0 0;
  }
}
