@media screen and (max-width: 768px) {
  .content--list-item-checkbox {
    justify-content: center;
  }
}

.check-icon-background {
  border-color: rgb(200, 206, 237);
  background-color: rgb(255, 255, 255);
}

.check-icon {
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  width: 5px;
  height: 10px;
  left: 6px;
  top: 5.8px;
}

.checked-label {
  background-color: rgb(0, 153, 255);
  border-color: rgb(0, 153, 255);
}

@media screen and (max-width: 768px) {
  .content--list-item-favorite-icon-wrapper {
    order: 999;
  }
}

.content--list-item-favorite-icon:hover {
  color: #b5bde7;
}

.favorite-isActive {
  color: #ffb629;
}

.favorite-isActive:hover {
  color: #ffad10;
}

@media screen and (max-width: 768px) {
  .content--list-item-integration-icon.isVisible {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .content--list-item-headline-title {
    pointer-events: all;
  }
}

.content--title {
  text-overflow: ellipsis;
}

.content--title > span {
  text-overflow: ellipsis;
}

.content--list-item-headline-desc {
  color: rgb(111, 118, 167);
  text-overflow: ellipsis;
  max-width: 45vw;
}

@media screen and (min-width: 769px) {
  .content--list-item:hover .content--list-item-actions {
    align-items: center;
    display: flex;
    height: calc(100%);
    position: relative;
  }
}

.content--list-item-actions button {
  color: rgb(10, 21, 81);
}

.content--list-item-actions button:hover .button-background {
  opacity: 1;
}

.button-background {
  background-color: rgb(200, 206, 237);
  z-index: -1;
  inset: 0px;
}

.content--list-item-actions button.loading .button-background {
  opacity: 1;
}
