.content--no-content-icon {
  background-color: #e3e5f5;
  border-radius: 105px;
  background-image: url("../../../../assets/no-content-icon.svg");
  background-size: 50px 50px;
}

.content--no-content-secondary-text::first-letter {
  text-transform: uppercase;
}
