.container {
  position: relative;
  height: 100%;
}

.content-wrapper {
  width: 70%;
  height: 100%;
  margin: auto;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 12px 12px 9px;
  margin: 0px;
  border-radius: 50%;
  border-style: hidden;
  background-color: #e3e5f5;
}
