.app-layout-header h1 {
  font-size: calc(16.57143px + 1.07143vw);
  margin-top: calc(6.5vh - 24px);
  line-height: 1.15;
}

@media screen and (min-width: 769px) {
  .app-layout-header h1 {
    margin-top: 0px;
    text-align: left;
    position: relative;
    font-size: 28px;
  }
}

.app-selector {
  align-self: flex-end;
}

.app-selector * {
  box-sizing: content-box;
}

.app-selector__container button {
  background-color: #78bb07;
  border-color: #b8b9c9;
}

.app-selector__container button:hover {
  background-color: #68a206;
}

.app-selector:hover .switch-app-icon {
  opacity: 0.9;
}

.pointer {
  left: calc(50% - 18px);
}
