.user--main {
  flex-basis: auto;
  isolation: isolate;
}

button {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.13, 0.89, 0.82, 1);
}

@media screen and (max-width: 768px) {
  .user--sidebarmenu {
    background-color: #f7f7f8;
    height: 100%;
    left: 0;
    max-width: 320px;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    transition: 0.3s;
    transition-duration: 0s;
    width: 80%;
    z-index: 4;
    pointer-events: none;
  }

  .user--sidebarmenu.isOpened {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-duration: 0.2s;
    pointer-events: auto;
  }
}

.user--section-toolbar button:not(.user--sort-button-active):hover {
  background-color: #f3f3fe;
  border-color: #c3cad8;
}

.user--folder {
  background-image: url("../../../assets/folder.svg");
  background-size: 15px 13px;
  border-color: #dfdfe3;
}

@media screen and (max-width: 768px) {
  .user--selection-menu {
    align-items: stretch;
    justify-content: center;
  }
}

.user--selection-menu button span {
  line-height: 1;
}

.user--selection-menu .user--trash {
  background-image: url("../../../assets/trash.svg");
  background-position: 12px;
  color: #d93434;
}

.user--selection-menu .user--restore {
  background-image: url("../../../assets/restore.svg");
  background-position: 12px;
}

@media screen and (max-width: 768px) {
  .user--selection-menu .user--trash {
    background-position: 50%;
  }
}

.user--selection-menu .user--enable {
  background-image: url("../../../assets/disable.svg");
  background-position: 12px;
}

.user--selection-menu .user--disable {
  background-image: url("../../../assets/enable.svg");
  background-position: 12px;
}

.user--sectionsearch {
  max-width: 850px;
}

@media screen and (max-width: 440px) {
  .user--sectionsearch {
    max-width: 600px;
  }
}

.user--sectionsearch-sort-wrapper {
  color: rgb(44, 51, 69);
  line-height: 1;
}

.user--sectionsearch-sort-wrapper button {
  background-image: url("../../../assets/sort.svg");
  background-position: 10px;
}

.user--sectionsearch-sort-wrapper button span {
  line-height: 1;
}

.user--sectionsearch-input input {
  background-image: url("../../../assets/search.svg");
  background-position: left 10px center;
  line-height: 1.15;
}

.user--sectionsearch-input input:hover {
  border-color: #c3cad8;
}

.user--sort-popper ul li {
  transition-timing-function: cubic-bezier(0.13, 0.89, 0.82, 1);
}

.user--sort-popper ul li.active-sort-choice {
  background-image: url("../../../assets/tick.svg");
  background-position: bottom 50% right 0.75rem;
  background-repeat: no-repeat;
}

.user--sectionsearch-sort-wrapper button.user--sort-button-active {
  background-image: url("../../../assets/user-sectionsearch-sort-wrapper.svg");
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
