.navbar {
  background-color: #0a1551;
  color: white;
  font-size: calc(12px + 0.3vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.navbar--logo {
  padding-left: 8px;
  /* background-color: aqua; */
}

.navbar--navigation {
  /* background-color: black; */
  flex-grow: 1;
}

.navbar--profile {
  padding-right: 24px;
  /* background-color: red; */
}

.navbar--navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  gap: 24px;
}

.navbar--navigation ul li:hover {
  color: #e74c3c;
}

.navbar--navigation ul li:last-child {
  padding-right: 24px;
}
