.app-layout-header h1 {
  line-height: 1.15;
}

.app-layout-body {
  gap: 20px;
}

.app-selector {
  align-self: flex-end;
}

.app-selector * {
  box-sizing: content-box;
}

.key-action-selector {
  flex-basis: 85%;
}

.key-input {
  gap: 10px;
}

.key-input input {
  flex-basis: 60%;
}

.app-selector__container button {
  background-color: #78bb07;
  border-color: #b8b9c9;
}

.app-selector__container button:hover {
  background-color: #68a206;
}

.app-selector:hover .switch-app-icon {
  opacity: 0.9;
}

.pointer {
  left: calc(50% - 18px);
  gap: 12px;
}

.pointer__circle {
  border-radius: 50%;
}
