.action-button {
  cursor: pointer;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c8ceed;
  border-radius: 4px;
  color: #0a1551;
  font-size: 1rem;
  font-weight: 300;
  height: 40px;
  padding: 0 16px;
  transition: 0.3s;
  width: 100%;
}

.action-button > span {
  opacity: 0.6;
}

.action-button > img {
  width: 15px;
}

.action-dropdown {
  background-color: #fff;
  position: absolute;
  border-left: 1px solid #c8ceed;
  border-right: 1px solid #c8ceed;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  z-index: 4;
}
