.app-selector__container {
  position: relative;
  padding: 25px 25px 0px;
}

.app-layout-header h1 {
  color: #0a1551;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.app-layout-body {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 25px;
}

.app-selector {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-selector * {
  cursor: pointer;
  background-color: #c8ceed;
  padding: 10px;
  border-radius: 4px;
  box-sizing: content-box;
}

.key-action-selector {
  flex-basis: 85%;
}

.action-selector {
  position: relative;
}

.key-selector {
  margin-top: 10px;
}

.key-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.key-input input {
  border: 1px solid #c8ceed;
  border-radius: 4px;
  color: #0a1551;
  font-size: 1rem;
  font-weight: 300;
  height: 40px;
  padding: 0 16px;
  transition: 0.3s;
  flex-basis: 60%;
  display: block;
}

.app-selector__container button {
  background-color: #78bb07;
  color: #fff;
  flex-grow: 1;
  align-items: center;
  border: 1px solid #b8b9c9;
  border-radius: 4px;
  display: flex;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  min-width: 110px;
  padding: 2px 20px 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.app-selector__container button:hover {
  background-color: #68a206;
}

.app-selector__oauth {
  margin: 20px auto 5px auto;
}

.switch-app-icon {
  transition: 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  background-color: #c8ceed;
}

.app-selector:hover .switch-app-icon {
  opacity: 0.9;
}

.pointer {
  position: absolute;
  top: 10px;
  left: calc(50% - 15px);
  display: flex;
  gap: 10px;
}

.pointer__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c8ceed;
  cursor: pointer;
}

.pointer__circle.pointer__circle-active {
  background-color: #0a1551;
}

.oauth {
  margin-top: 10px;
}
