.app-layout-header h1 {
  padding-top: 20px;
  color: #0a1551;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  text-align: center;
}

.app-layout-body {
  margin: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.app-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-selector * {
  cursor: pointer;
  background-color: #c8ceed;
  padding: 10px;
  border-radius: 4px;
  box-sizing: content-box;
}

.key-action-selector {
  flex-basis: 85%;
}

.action-selector {
  position: relative;
}

.action-selector > span {
  padding-left: 16px;
}

.key-selector {
  margin-top: 10px;
}

.key-selector > span {
  padding-left: 16px;
}

.key-input {
  display: flex;
  justify-content: space-between;
}

.key-input input {
  border: 1px solid #c8ceed;
  border-radius: 4px;
  color: #0a1551;
  font-size: 1rem;
  font-weight: 300;
  height: 40px;
  padding: 0 16px;
  transition: 0.3s;
  flex-basis: 70%;
  display: block;
}

.key-input button {
  flex-basis: 25%;
  background-color: #78bb07;
  color: #fff;
  align-items: center;
  border: 1px solid #b8b9c9;
  border-radius: 4px;
  display: flex;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  min-width: 110px;
  padding: 0 16px 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.key-input button:hover {
  background-color: #68a206;
}
