.settings--container .settings--sendButton {
  border-color: #b8b9c9;
}

.settings--container .settings--sendButton:hover {
  background-color: #e65700;
}

.select--container {
  border-bottom-color: #ebedf2;
}

.select--container label {
  color: #596066;
}

.prevButton {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 12px 12px 9px;
  margin: 0px;
  border-radius: 50%;
  border-style: hidden;
  background-color: #e3e5f5;
}
