.settings--container h1 {
  font-size: calc(16.57143px + 1.07143vw);
  margin-top: calc(6.5vh - 24px);
  line-height: 1.15;
}

@media screen and (min-width: 769px) {
  .select--container h1 {
    margin-top: 0px;
    position: relative;
    font-size: 28px;
    text-align: left;
  }
}

.settings--container .settings--sendButton {
  border-color: #b8b9c9;
}

.settings--container .settings--sendButton:hover {
  background-color: #e65700;
}

.select--container {
  border-bottom-color: #ebedf2;
}

.select--container label {
  color: #596066;
}
