.integration-body {
  margin: 4vh 0 0;
}

@media screen and (min-width: 769px) {
  .integration-body {
    margin: 50px 0;
  }

  .cards {
    flex-direction: row;
  }
}

.settingsButton {
  background-color: #78bb07;
  border-color: #b8b9c9;
}

.settingsButton:hover {
  background-color: #68a206;
}
