.container {
  padding: 10px;
}

.card {
  padding: 25% 5% 5%;
  min-width: 30%;
}

.card-wrapper {
  line-height: 0;
  padding: 16%;
}

.container.mobile-card {
  margin-top: 24px;
}

.text {
  font-size: calc(13.71429px + 0.71429vw);
  margin: 0 5%;
  line-height: 1.15;
}

.sub-text {
  font-size: calc(9.71429px + 0.71429vw);
  margin: 1em 5% 0;
  line-height: 1.15;
}

@media screen and (min-width: 769px) {
  .container {
    margin: 0 2.15%;
    padding: 0;
    flex-basis: 215px;
  }

  .card {
    padding-top: 102%;
    min-width: 0;
  }

  .card-wrapper {
    border-width: 2px;
    padding: 12%;
    border-radius: 10px;
  }

  .text {
    font-size: 18px;
    flex-grow: 0;
    margin: 28px 0 0 0;
    text-align: center;
  }

  .sub-text {
    font-size: 16px;
    flex-grow: 0;
    margin-top: 18px;
    text-align: center;
  }

  .container.mobile-card {
    margin-top: 0;
  }
}

.container:hover .card-wrapper {
  border: 2px solid #0099fe;
}

.container:hover .text {
  color: #0099fe;
}

.container:hover {
  transform: translateY(-15px);
}

.card-wrapper.invalidApp {
  border: 2px solid red;
}

.card-wrapper.invalidApp:hover {
  border: 2px solid red;
}

.text.invalidApp {
  border: none;
  color: red;
}

.container:hover .text.invalidApp {
  color: red;
}
