.dropdown-item img {
  width: 30px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  font-size: 1rem;
  padding: 0 16px;
  border-bottom: 1px solid #c8ceed;
  cursor: pointer;
}

.dropdown-item span {
  margin-left: 10px;
}
