.wizard {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

.switch-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 60px;
}

.settingsButton {
  cursor: pointer;
  background-color: #78bb07;
  color: #fff;
  align-items: center;
  border: 1px solid #b8b9c9;
  border-radius: 4px;
  display: flex;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  margin: 20px auto 0px auto;
  padding: 5px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.settingsButton:hover {
  background-color: #68a206;
}

.wizard--invalid-auth {
  display: block;
  color: red;
  font-size: 1.15rem;
  text-align: center;
  width: 100%;
  font-weight: 700;
  margin: 20px auto 0px auto;
  padding: 5px 25px;
}

.settingsInlineEdit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizard__subheading {
  color: #6f76a7;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.001px;
  line-height: 1.15;
  margin: 10px 0 50px;
  text-align: center;
}
