.app-layout {
  margin: 20px;
  display: flex;
  align-items: center;
}

.app-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-selector svg {
  background-color: #c8ceed;
  padding: 10px;

  border-radius: 4px;
}
