@media screen and (max-width: 768px) {
  .templates__search-bar {
    flex-wrap: wrap;
  }
  .templates__list {
    flex-direction: column;
  }
  .templates__list > li {
    flex-basis: auto;
  }
}

.templates__list > li:hover {
  transform: translateY(-5px);
}
