.tag-input {
  border-bottom-color: #ebedf2;
}

.tag-input__title {
  color: #596066;
}

.input__form-fields button {
  background: none;
  background-image: url("../../assets/tagInput-form-fields.svg");
  background-position: calc(100% - 0.5em);
  background-repeat: no-repeat;
  background-size: 9px;
  border: none;
  color: #5e74e6;
}

.form-fields__icon {
  background-color: #5e74e6;
}

.form-fields__popper {
  z-index: 9999;
}

.popper__wrapper {
  color: #23283a;
}

.popper__list li:hover {
  background-color: #f6f6f6;
}
