.inline-edit {
  width: 350px;
  background-color: transparent;
  border: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.15;
  color: #0a1551;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inline-edit:hover {
  cursor: pointer;
}
