.inline-edit {
  max-width: calc(100% - 172px);
  line-height: 1.15;
}

.inline-edit.title {
  font-size: calc(16.57143px + 1.07143vw);
}

.inline-edit.subtitle {
  font-size: calc(12.28571px + 0.53571vw);
  letter-spacing: 0.001px;
}

@media screen and (min-width: 769px) {
  .inline-edit.title {
    font-size: 28px;
  }

  .inline-edit.subtitle {
    font-size: 16px;
  }
}
