.match-fields {
  border-bottom-color: #ebedf2;
}

.match-fields__title {
  color: #596066;
}

.fields__title {
  color: #979698;
  letter-spacing: -0.330593px;
  width: 48%;
}

.mapping-connection-line {
  border-top-color: #d8dae9;
  transform: translateY(-50%);
}

.mapping__leftside {
  width: 48%;
}

.mapping__rightside {
  width: 48%;
}

.match-fields__add-mapping button {
  background-color: #4573e3;
  width: 48%;
}
