.modalbox {
  background-color: rgba(37, 45, 91, 0.7);
}

@media screen and (min-width: 769px) {
  .modal-content {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
