.tag-input {
  padding: 1.25rem 0;
  border-bottom: 1px solid #ebedf2;
}

.tag-input label {
  margin: 0px 0px 10px;
  display: block;
  color: #596066;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}
