.tag-input {
  border-bottom-color: #ebedf2;
}

.tag-input__title {
  color: #596066;
}

.input__form-fields button {
  background: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7'%3E%3Cpath fill='none' stroke='%235E74E6' stroke-linecap='round' stroke-width='2' d='m1.866 1 4.115 4L9.88 1'/%3E%3C/svg%3E");
  background-position: calc(100% - 0.5em);
  background-repeat: no-repeat;
  background-size: 9px;
  border: none;
  color: #5e74e6;
}

.form-fields__icon {
  background-color: #5e74e6;
}

.form-fields__popper {
  z-index: 9999;
}

.popper__wrapper {
  color: #23283a;
}

.popper__list li:hover {
  background-color: #f6f6f6;
}
